<nav class="flex items-center justify-between p-10 shadow-md bg-white">
  <div class="flex items-center space-x-3">
    @if(userRole == 'student'){

    <i
      routerLink="/{{ userRole }}/dashboard"
      class="pi pi-home text-black border p-3 rounded-lg bg-green-400 cursor-pointer"
    ></i>

    }
    <span class="text-2xl font-semibold text-black">
      Welcome back,
      <span class="text-primary text-green-500 ml-3">
        {{ (userName$ | async)?.user_metadata?.['username'] || 'Guest' }}
      </span>
    </span>
  </div>

  <button
    type="button"
    label="Logout"
    icon="pi pi-sign-out"
    class="p-2 text-white rounded-lg cursor-pointer hover:bg-red-400 duration-300 bg-red-500"
    (click)="logout()"
  >Logout</button>
</nav>
