<div class="flex justify-center bg-slate-200 min-h-screen p-8">
  <!-- HTML Template -->
  <div class="p-8 w-11/12 flex flex-col gap-4">
    <h2 class="mb-4 text-3xl">User Management</h2>

    <!-- Add New User Button -->
    <div class="mb-3">
      <p-button
        label="Add New User"
        icon="pi pi-plus"
        (click)="showAddUserDialog()"
      ></p-button>
    </div>

    <!-- User Table -->
    <p-table
      #dt
      [value]="users"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 25]"
      [globalFilterFields]="['full_name', 'email', 'role']"
      styleClass="p-datatable-gridlines p-datatable-sm"
    >
      <!-- <ng-template pTemplate="caption">
        <div class="p-d-flex p-jc-between p-ai-center">
          <span class="p-input-icon-left flex gap-4 items-center">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event, 'contains')"
              placeholder="Search..."
              class="input"
            />
          </span>
        </div>
      </ng-template> -->

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="full_name">
            Name <p-sortIcon field="full_name"></p-sortIcon>
          </th>
          <th pSortableColumn="email">
            Email <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="role">
            Role <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.full_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td class="">
            <i
              class="pi pi-pencil bg-green-500 p-2 text-white rounded-lg mr-2 cursor-pointer"
              (click)="editUser(user)"
            ></i>

            <i
              class="pi pi-check bg-red-500 p-2 text-white rounded-lg cursor-pointer"
              (click)="confirmDelete(user)"
            ></i>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- Add/Edit User Dialog -->
  <p-dialog
    [(visible)]="userDialog"
    [style]="{ width: '450px' }"
    header="{{ dialogTitle }} User Details"
    [modal]="true"
    styleClass="p-fluid"
    [contentStyle]="{ 'max-height': '70vh', 'overflow-y': 'auto' }"
  >
    <ng-template pTemplate="content">
      <form [formGroup]="userForm" class="p-3">
        <div class="p-field mb-3">
          <label for="name" class="block mb-1 ml-5">Name</label>
          <input
            type="text"
            pInputText
            id="name"
            formControlName="full_name"
            class="input w-full"
          />
        </div>

        <div class="p-field mb-3">
          <label for="email" class="block mb-1 ml-5">Email</label>
          <input
            type="email"
            pInputText
            id="email"
            formControlName="email"
            class="input w-full"
          />
        </div>

        <div class="p-field mb-3">
          <label for="role" class="block mb-1">Role</label>
          <select
            id="role"
            formControlName="role"
            class="w-full text-black input"
          >
            <option value="" disabled selected>Select a Role</option>
            <option *ngFor="let option of roleOptions" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
        </div>

        <div class="p-field mb-3" *ngIf="isNewUser">
          <label for="password" class="block mb-1">Password</label>
          <p-password
            placeholder="At least six characters"
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="true"
            minLength="6"
            styleClass="w-full"
          ></p-password>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        (click)="hideDialog()"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        label="Save"
        icon="pi pi-check"
        (click)="addUserDetails()"
        [disabled]="userForm.invalid"
      ></p-button>
    </ng-template>
  </p-dialog>

  <!-- Confirmation Dialog for Delete -->
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
