@import "tailwindcss";
@import "primeicons/primeicons.css";

/* OR Aura Light Theme */
html,
body {
  height: 100%;
}
body {
  font-family: "Lexend", sans-serif;
  color: #333 !important;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.p-menubar {
  background-color: black !important;
  color: #333 !important;
}

.card {
  @apply border border-slate-400  flex items-center justify-center w-2xl;
}

.dashboard-card {
  @apply cursor-pointer hover:scale-105 duration-300 border border-green-500 rounded-lg;
}

.label_modal {
  @apply block text-green-500 mb-2 ;
}

.input {
  @apply p-2  my-2 rounded-md border border-slate-300;
}

.login {
  @apply p-2 border text-slate-600 border-slate-500 rounded-lg;
}

.custom-password .p-inputtext {
  @apply p-2 border-2 my-2 rounded-xl border-green-500 w-full;
}

.menu-link a {
  @apply text-white transition-colors duration-300;
}
