@if (isLoading) {
<app-spinner></app-spinner>

} @if (!isLoading) {
<div class="flex min-h-screen bg-white">
  <div
    class="m-auto border  bg-slate-50 rounded-lg shadow-lg p-8 max-w-md w-full"
  >
    <div class="text-center mb-8">
      <h1 class="text-3xl font-semibold mb-2 text-black">Welcome</h1>
      <p class="text-gray-800">
        {{ isLoginMode ? "Sign in to your account" : "Create a new account" }}
      </p>
    </div>

    <!-- Login Form -->
    <form
      *ngIf="isLoginMode"
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
      class="space-y-5"
    >
      <div class="p-field">
        <label for="login-email" class="block mb-2 font-medium text-slate-800"
          >Email</label
        >
        <span class="p-input-icon-left w-full">
          <input
            id="login-email"
            type="email"
            pInputText
            formControlName="email"
            class="login w-full"
            placeholder="Enter your email"
          />
        </span>
        <small
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
          class="text-red-500"
        >
          Valid email is required
        </small>
      </div>

      <div class="p-field">
        <label for="login-password" class="block mb-2 font-medium text-slate-800"
          >Password</label
        >
        <span class="p-input-icon-left w-full">
          <p-password
            id="login-password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            [inputStyle]="{
              width: '100%',
              'background-color': '#1f2937',
              color: 'white',
            }"
            styleClass="w-full dark-password"
            placeholder="Enter your password"
          ></p-password>
        </span>
        <small
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="text-red-500"
        >
          Password is required
        </small>
      </div>

      <p-button
        type="submit"
        label="Sign In"
        icon="pi pi-sign-in"
        styleClass="w-full"
        [style]="{ 'background-color': '#10b981', 'border-color': '#059669' }"
        [disabled]="loginForm.invalid || isLoading"
      ></p-button>
    </form>

    <p-message
      *ngIf="errorMessage"
      severity="error"
      [text]="errorMessage"
      styleClass="w-full mt-4"
    ></p-message>
  </div>
</div>
}
<p-toast></p-toast>
